In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("encodeddata.csv")

In [3]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,...,city mpg,Popularity,MSRP,Vehicle Style_encode,Make_encode,Model_encode,Engine Fuel Type_encode,Transmission Type_encode,Driven_Wheels_encode,Vehicle Size_encode
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,Compact,...,19,3916,46135,8,4,1,8,3,3,0
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,...,19,3916,40650,6,4,0,8,3,3,0
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,...,20,3916,36350,8,4,0,8,3,3,0
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,...,18,3916,29450,8,4,0,8,3,3,0
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,...,18,3916,34500,6,4,0,8,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,...,16,204,46120,2,0,901,8,1,0,2
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,...,16,204,56670,2,0,901,8,1,0,2
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,...,16,204,50620,2,0,901,8,1,0,2
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,Midsize,...,16,204,50920,2,0,901,7,1,0,2
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Midsize,...,17,61,28995,14,25,902,9,1,2,2

In [6]:
make_encode = df[['Make','Make_encode']].drop_duplicates()

In [7]:
import numpy as np

In [9]:
g ={}

In [10]:
g['make_encode'] = np.array(make_encode)

In [11]:
make_encode.to_json("new.json")

In [12]:
make_encode.to_dict()

{'Make': {0: 'BMW',
  17: 'Audi',
  32: 'FIAT',
  35: 'Mercedes-Benz',
  64: 'Chrysler',
  87: 'Nissan',
  104: 'Volvo',
  112: 'Mazda',
  194: 'Mitsubishi',
  294: 'Ferrari',
  474: 'Alfa Romeo',
  479: 'Toyota',
  604: 'McLaren',
  611: 'Maybach',
  674: 'Pontiac',
  736: 'Porsche',
  800: 'Saab',
  1137: 'GMC',
  1171: 'Hyundai',
  1189: 'Plymouth',
  1192: 'Honda',
  1287: 'Oldsmobile',
  1300: 'Suzuki',
  1331: 'Ford',
  1367: 'Cadillac',
  1426: 'Kia',
  1452: 'Bentley',
  1476: 'Chevrolet',
  1610: 'Dodge',
  1620: 'Lamborghini',
  1650: 'Lincoln',
  1747: 'Subaru',
  1792: 'Volkswagen',
  2116: 'Spyker',
  2341: 'Buick',
  2696: 'Acura',
  2921: 'Rolls-Royce',
  3030: 'Maserati',
  3173: 'Lexus',
  3520: 'Aston Martin',
  3551: 'Land Rover',
  3912: 'Lotus',
  4269: 'Infiniti',
  4893: 'Scion',
  5202: 'Genesis',
  5692: 'HUMMER',
  6921: 'Tesla',
  11362: 'Bugatti'},
 'Make_encode': {0: 4,
  17: 3,
  32: 12,
  35: 31,
  64: 10,
  87: 33,
  104: 47,
  112: 29,
  194: 32,
  294: 13,
  474: 1,
  479: 45,
  604: 30,
  611: 28,
  674: 36,
  736: 37,
  800: 39,
  1137: 15,
  1171: 19,
  1189: 35,
  1192: 18,
  1287: 34,
  1300: 43,
  1331: 14,
  1367: 8,
  1426: 21,
  1452: 5,
  1476: 9,
  1610: 11,
  1620: 22,
  1650: 25,
  1747: 42,
  1792: 46,
  2116: 41,
  2341: 7,
  2696: 0,
  2921: 38,
  3030: 27,
  3173: 24,
  3520: 2,
  3551: 23,
  3912: 26,
  4269: 20,
  4893: 40,
  5202: 16,
  5692: 17,
  6921: 44,
  11362: 6}}

In [13]:
make_encode=df[["Make","Make_encode"]].drop_duplicates()
model_encode=df[["Model","Model_encode"]].drop_duplicates()
enginefueltype=df[["Engine Fuel Type","Engine Fuel Type_encode"]].drop_duplicates()
transmissionType=df[["Transmission Type","Transmission Type_encode"]].drop_duplicates()
drivenwheels=df[["Driven_Wheels","Driven_Wheels_encode"]].drop_duplicates()	
vehiclesize=df[["Vehicle Size","Vehicle Size_encode"]].drop_duplicates()

In [14]:
model_encode

            Model  Model_encode
0      1 Series M             1
1        1 Series             0
17            100             2
32     124 Spider             3
35      190-Class             4
...           ...           ...
11890        Z4 M           899
11894          Z4           898
11903          Z8           900
11906         ZDX           901
11913      Zephyr           902

[915 rows x 2 columns]

In [15]:
make_encode=df[['Make','Make_encode',]].drop_duplicates()

model_encode=df[['Model','Model_encode',]].drop_duplicates()

eft_encode=df[['Engine Fuel Type','Engine Fuel Type_encode',]].drop_duplicates()

tt_encode=df[['Transmission Type','Transmission Type_encode',]].drop_duplicates()

dw_encode=df[['Driven_Wheels','Driven_Wheels_encode',]].drop_duplicates()

vs_encode=df[['Vehicle Style','Vehicle Style_encode',]].drop_duplicates()

vsz_encode=df[['Vehicle Size','Vehicle Size_encode',]].drop_duplicates()

In [17]:
make_encode.to_json("make_encode.json")
model_encode.to_json("model_encode.json")
eft_encode.to_json("eft_encode.json")
tt_encode.to_json("tt_encode.json")
dw_encode.to_json("dw_encode.json")
vs_encode.to_json("vs_encode.json")
vsz_encode.to_json("vsz_encode.json")